In [1]:
import pandas as pd

## Bar chart visualizing the relative frequency of Products registered with Accounts.

In [6]:
products = pd.read_csv("Resources/products.csv")
products.head()

   id               name                type
0   1        Bright Move  LARGEPADV1_KEYCODE
1   2  Bright Move Smart  LARGEPADV1_KEYCODE
2   3     Bright Home 29  LARGEPADV1_KEYCODE
3   4     Bright Home 58  LARGEPADV1_KEYCODE
4   5    Bright Sun Bell               CABLE

In [7]:
accounts = pd.read_csv("Resources/accounts.csv")
accounts.head()

,id,group_id,organization_id,registration_date,is_written_off,is_unlocked
0,2,1,10001,2019-11-06 05:49:39.571392,False,True
1,3,1,10001,2019-11-14 14:57:02.571392,False,False
2,4,1,10001,2019-12-11 03:18:53.571392,False,True
3,5,1,10001,2019-10-31 22:36:23.571392,False,False
4,6,1,10001,2019-09-29 13:04:45.571392,False,True

In [8]:
accounts.shape

(772, 6)