In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read in data
products = pd.read_csv("Resources/products.csv")
accounts = pd.read_csv("Resources/accounts.csv")
ast = pd.read_csv("Resources/account_state_transitions.csv")
gpa = pd.read_csv("Resources/group_product_associations.csv")
groups = pd.read_csv("Resources/groups.csv")
payments = pd.read_csv("Resources/payments.csv")

## 1) Generate a bar chart visualizing the relative frequency of Products registered with Accounts.

In [3]:
gpa = gpa.rename(columns={"id":"gpa_id"})
accounts = accounts.rename(columns={"id":"accounts_df_id"})

In [4]:
# Merge accounts and gpa data frames
group_id_merge = gpa.merge(accounts, how="inner",on="group_id")
group_id_merge.head()

,gpa_id,group_id,product_id,accounts_df_id,organization_id,registration_date,is_written_off,is_unlocked
0,1,1,42,2,10001,2019-11-06 05:49:39.571392,False,True
1,1,1,42,3,10001,2019-11-14 14:57:02.571392,False,False
2,1,1,42,4,10001,2019-12-11 03:18:53.571392,False,True
3,1,1,42,5,10001,2019-10-31 22:36:23.571392,False,False
4,1,1,42,6,10001,2019-09-29 13:04:45.571392,False,True

In [5]:
# Check w/ group by and manually
df_product_registration = pd.DataFrame(group_id_merge['product_id'].value_counts())
df_product_registration = df_product_registration.reset_index().sort_values('index')
df_product_registration = df_product_registration.rename(columns={"index":"product_id","product_id":"registration_count"})
df_product_registration = df_product_registration.reset_index(drop=True)
df_product_registration.head()

   product_id  registration_count
0           1                  21
1           2                  11
2           3                  11
3           4                  21
4           5                  11

In [119]:
# Make Bar Chart -- tuples?

## 2) Devise a method of generating a table of all Accounts with their State as of any arbitrary timestamp in the past and the total time they had been in that state as of the timestamp.

## 3) Devise a method of generating a table of all Accounts with their cumulative payments to date as of any arbitrary timestamp in the past.

add timestamp portion

In [23]:
# Variable to take timestamp input.
timestamp = input("Enter date with YYYY-MM-DD format.")

Enter date with YYYY-MM-DD format.2019-12-26

In [24]:
print(timestamp)

2019-12-26

In [29]:
payments.head()

   id              effective_when  account_id currency  amount
0   1  2019-12-26 06:00:42.571392           1      KES     950
1   2  2019-12-26 06:00:42.571392           1      KES     950
2   3  2019-11-06 05:49:39.571392           2      KES     950
3   4  2019-11-06 05:49:39.571392           2      KES     950
4   5  2019-11-11 06:43:34.571392           2      KES     415

In [46]:
# Select rows containing indicated timestamp
a = payments[payments['effective_when'].str.contains(timestamp,case=False)]
a

        id              effective_when  account_id currency  amount
0        1  2019-12-26 06:00:42.571392           1      KES     950
1        2  2019-12-26 06:00:42.571392           1      KES     950
175    176  2019-12-26 03:10:17.571392          12      KES     140
239    240  2019-12-26 21:20:35.571392          14      KES      97
302    303  2019-12-26 03:23:31.571392          17      KES      88
325    326  2019-12-26 09:16:43.571392          18      KES     136
860    861  2019-12-26 16:31:27.571392          48      KES     399
980    981  2019-12-26 01:15:23.571392          58      KES     279
995    996  2019-12-26 16:17:48.571392          59      KES     242
1099  1100  2019-12-26 14:27:40.571392          62      KES     118
1216  1217  2019-12-26 08:57:09.571392          70      KES     413
1222  1223  2019-12-26 15:08:50.571392          71      KES     259
1264  1265  2019-12-26 18:33:15.571392          75      KES     347
1284  1285  2019-12-26 15:02:13.571392          76      KES     264
1476  1477  2019-12-26 21:28:29.571392          93      KES     849
1843  1844  2019-12-26 21:54:52.571392         119      KES     438
2031  2032  2019-12-26 02:43:37.571392         127      KES     194
2146  2147  2019-12-26 10:39:25.571392         132      KES     245
2262  2263  2019-12-26 21:20:41.571392         138      KES     327
2495  2496  2019-12-26 02:08:54.571392         162      KES     220
2564  2565  2019-12-26 06:37:20.571392         167      KES      98
2692  2693  2019-12-26 06:18:28.571392         172      KES      87
2739  2740  2019-12-26 11:48:04.571392         174      KES     178
2763  2764  2019-12-26 07:15:45.571392         176      KES     103
3030  3031  2019-12-26 23:53:05.571392         188      KES     608
3280  3281  2019-12-26 02:00:55.571392         204      KES     249
3311  3312  2019-12-26 11:09:07.571392         207      KES     194
3338  3339  2019-12-26 22:22:02.571392         209      KES     270
3360  3361  2019-12-26 04:21:30.571392         211      KES     116
3567  3568  2019-12-26 10:14:50.571392         228      KES     294
...    ...                         ...         ...      ...     ...
5014  5015  2019-12-26 06:27:21.571392         334      KES     261
5068  5069  2019-12-26 20:10:42.571392         339      KES     175
5170  5170  2019-12-26 20:22:03.571392         350      KES     228
5281  5281  2019-12-26 01:04:02.571392         359      KES     223
5516  5516  2019-12-26 07:02:49.571392         374      KES     313
5922  5923  2019-12-26 18:02:28.571392         499      KES     108
5955  5956  2019-12-26 12:49:19.571392         501      KES      47
6097  6098  2019-12-26 04:03:54.571392         510      KES      50
6125  6126  2019-12-26 00:26:08.571392         511      KES      40
6299  6300  2019-12-26 14:53:01.571392         517      KES      77
6377  6378  2019-12-26 06:44:59.571392         520      KES     104
6740  6741  2019-12-26 04:11:57.571392         539      KES     109
6837  6838  2019-12-26 23:33:10.571392         543      KES      97
6996  6997  2019-12-26 10:27:00.571392         549      KES     132
7067  7068  2019-12-26 18:16:13.571392         554      KES     298
7132  7133  2019-12-26 14:10:23.571392         559      KES     338
7188  7189  2019-12-26 02:11:55.571392         563      KES     310
7370  7371  2019-12-26 15:13:23.571392         587      KES     199
7434  7435  2019-12-26 11:08:54.571392         592      KES     196
7503  7504  2019-12-26 03:50:40.571392         597      KES     264
7598  7599  2019-12-26 13:28:02.571392         603      KES     307
7720  7721  2019-12-26 00:25:51.571392         608      KES     107
7839  7840  2019-12-26 22:49:30.571392         615      KES     180
8104  8105  2019-12-26 07:01:31.571392         627      KES     300
8121  8122  2019-12-26 00:22:05.571392         628      KES     300
8207  8208  2019-12-26 03:58:56.571392         633      KES     284
8345  8346  2019-12-26 19:28:31.571392         645      KES     252
8413  8414  2019-12-26 21:09:17.571392         648      KES     118
8644  8645  2019-12-26 16:46:00.571392         658      KES     161
9154  9155  2019-12-26 11:43:20.571392         752      KES     259

[69 rows x 5 columns]

In [44]:
# SELECT all rows WHERE effect_when[i][:10] == timestamp
emptylist = []

for item in payments['effective_when']: 
    date = item[:10]
    if date == timestamp:
        emptylist.append(date)
#         print(payments['account_id'])

In [45]:
len(emptylist)

69

In [7]:
# Set currency
currency = payments.currency[0]

In [8]:
# Group by account_id and count number of records
num_payments = payments.groupby('account_id').count()

# Flatten dataframe
num_payments = num_payments.rename_axis(None, axis=1).reset_index()

# Drop columns
num_payments = num_payments.drop(columns=['effective_when','currency','amount'])

# Rename column
cumulative_payments = num_payments.rename(columns={"id":"total_num_payments"})
cumulative_payments.head()

   account_id  total_num_payments
0           1                   2
1           2                  18
2           3                  16
3           4                  13
4           5                  14

In [9]:
# Group by account_id and sum payment amounts
sum_payments = payments.groupby('account_id').sum()

# Sort values by id
sum_payments = sum_payments.sort_values('id')

# Flatten dataframe
sum_payments = sum_payments.rename_axis(None, axis=1).reset_index()

# Select one column
sum_payments = sum_payments['amount']

# Add series to cumulative_payments dataframe
cumulative_payments[f'total_sum_payments_{currency}'] = sum_payments
cumulative_payments.head()

   account_id  total_num_payments  total_sum_payments_KES
0           1                   2                    1900
1           2                  18                    8100
2           3                  16                    5217
3           4                  13                    7661
4           5                  14                    8100

## 4) Devise a method of generating a table of all Accounts with their “nominal” expected payments as of any arbitrary timestamp in the past. In other words, we’re looking for the amount the distributor would have collected as of the test date assuming the client had paid the minimum payment instantaneously upon going to a “disabled” state until reaching the unlock price.