In [101]:
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
# Read in data
products = pd.read_csv("Resources/products.csv")
accounts = pd.read_csv("Resources/accounts.csv")
ast = pd.read_csv("Resources/account_state_transitions.csv")
gpa = pd.read_csv("Resources/group_product_associations.csv")
groups = pd.read_csv("Resources/groups.csv")
payments = pd.read_csv("Resources/payments.csv")

## Bar chart visualizing the relative frequency of Products registered with Accounts.

In [55]:
gpa = gpa.rename(columns={"id":"gpa_id"})
accounts = accounts.rename(columns={"id":"accounts_df_id"})

In [56]:
# Merge accounts and gpa data frames
group_id_merge = gpa.merge(accounts, how="inner",on="group_id")
group_id_merge.head()

,gpa_id,group_id,product_id,accounts_df_id,organization_id,registration_date,is_written_off,is_unlocked
0,1,1,42,2,10001,2019-11-06 05:49:39.571392,False,True
1,1,1,42,3,10001,2019-11-14 14:57:02.571392,False,False
2,1,1,42,4,10001,2019-12-11 03:18:53.571392,False,True
3,1,1,42,5,10001,2019-10-31 22:36:23.571392,False,False
4,1,1,42,6,10001,2019-09-29 13:04:45.571392,False,True

In [83]:
# Check w/ group by and manually
df_product_registration = pd.DataFrame(group_id_merge['product_id'].value_counts())
df_product_registration = df_product_registration.reset_index().sort_values('index')
df_product_registration = df_product_registration.rename(columns={"index":"product_id","product_id":"registration_count"})
df_product_registration = df_product_registration.reset_index(drop=True)
df_product_registration.head()

   product_id  registration_count
0           1                  21
1           2                  11
2           3                  11
3           4                  21
4           5                  11

In [119]:
# Make Bar Chart -- tuples?

## 2) Devise a method of generating a table of all Accounts with their State as of any arbitrary timestamp in the past and the total time they had been in that state as of the timestamp.

## 3) Devise a method of generating a table of all Accounts with their cumulative payments to date as of any arbitrary timestamp in the past.

In [122]:
# Placeholder to select time
timestamp = ''

In [128]:
payments.head()

   id              effective_when  account_id currency  amount
0   1  2019-12-26 06:00:42.571392           1      KES     950
1   2  2019-12-26 06:00:42.571392           1      KES     950
2   3  2019-11-06 05:49:39.571392           2      KES     950
3   4  2019-11-06 05:49:39.571392           2      KES     950
4   5  2019-11-11 06:43:34.571392           2      KES     415

In [172]:
# Set currency
currency = payments.currency[0]

'KES'

In [174]:
# Group by account_id and count number of records
num_payments = payments.groupby('account_id').count()

# Flatten dataframe
num_payments = num_payments.rename_axis(None, axis=1).reset_index()

# Drop columns
num_payments = num_payments.drop(columns=['effective_when','currency','amount'])

# Rename column
cumulative_payments = num_payments.rename(columns={"id":"total_num_payments"})
cumulative_payments.head()

   account_id  total_num_payments
0           1                   2
1           2                  18
2           3                  16
3           4                  13
4           5                  14

In [175]:
# Group by account_id and sum payment amounts
sum_payments = payments.groupby('account_id').sum()

# Sort values by id
sum_payments = sum_payments.sort_values('id')

# Flatten dataframe
sum_payments = sum_payments.rename_axis(None, axis=1).reset_index()

# Select one column
sum_payments = sum_payments['amount']

# Add series to cumulative_payments dataframe
cumulative_payments[f'total_sum_payments_{currency}'] = sum_payments
cumulative_payments.head()

   account_id  total_num_payments  total_sum_payments_KES
0           1                   2                    1900
1           2                  18                    8100
2           3                  16                    5217
3           4                  13                    7661
4           5                  14                    8100