### Avg time between payments per account

In [52]:
import pandas as pd

In [153]:
payments = pd.read_csv('../Resources/payments.csv')
# payments.head()

In [154]:
# Convert to datetime
payments['effective_when'] = pd.to_datetime(payments['effective_when'])

# Sort by date for each account
payments = payments.sort_values(['account_id','effective_when'])

# Reset index
payments = payments.reset_index(drop=True)

In [155]:
# Calculate time in between payments
time_diff = [payments['effective_when'][i+1]-payments['effective_when'][0+i] for i in range(0,len(payments)-1)]

# Insert None for first row
time_diff.insert(0,None)

# Add calculated column
payments['time_between_payments'] = time_diff

In [157]:
# Convert to seconds
payments['time_between_payments'] = payments['time_between_payments'].dt.total_seconds()

# Drop negative time diffs
payments = payments.loc[payments['time_between_payments']>0]

In [159]:
# Group by id and find average mean of time between payments
payments_grouped = payments.groupby('account_id',as_index=False)['time_between_payments'].mean()

# Rename column
payments_grouped = payments_grouped.rename(columns={'time_between_payments':'avg_time_between_payments'})

# Convert back to days by dividing seconds by 86,400 (60*60*24 - minutes,hours,days)
payments_grouped['avg_time_between_payments'] = payments_grouped['avg_time_between_payments']/86400

In [160]:
# Average number of days between payments per account
payments_grouped

     account_id  avg_time_between_payments
0             2                   6.865048
1             3                   8.379260
2             4                   6.913516
3             5                  10.424994
4             6                   6.868718
5             7                   9.957038
6             8                  17.200561
7             9                   6.942350
8            10                   6.850715
9            11                   6.972567
10           12                   6.917072
11           13                  10.215978
12           14                   6.957978
13           15                  45.382731
14           16                   6.939398
15           17                   8.015122
16           18                   6.964628
17           19                   7.938307
18           20                   9.893713
19           21                   6.945738
20           22                   6.932752
21           23                  53.834705
22           24                  27.670327
23           25                   8.181661
24           26                   8.806343
25           27                   6.925536
26           28                  32.703596
27           29                   6.935268
28           30                  57.329230
29           31                  10.887668
..          ...                        ...
702         742                  18.097141
703         743                   4.921065
704         744                   5.044144
705         745                  11.715972
706         746                   5.202245
707         747                   5.546644
708         749                  19.639317
709         750                  19.221400
710         751                   9.148441
711         752                   9.059348
712         753                   8.137271
713         754                   8.211527
714         755                   6.811516
715         756                   6.907970
716         757                   5.500538
717         758                  10.830921
718         759                   6.711628
719         760                   9.414287
720         761                  11.949010
721         762                   7.695889
722         763                   8.522565
723         764                   9.312785
724         765                   7.957781
725         766                   9.585628
726         767                   6.981221
727         768                  11.338368
728         769                   8.755142
729         770                  11.845174
730         771                   6.920551
731         772                   8.096491

[732 rows x 2 columns]