Avg time between payments

ORDER BY(account, payment date) -> time delta -> GROUP BY (account) AVG (time delta)

In [1]:
import pandas as pd

In [18]:
payments = pd.read_csv('../Resources/payments.csv')

In [19]:
payments = payments.sort_values(['account_id','effective_when'])
payments['effective_when'] = pd.to_datetime(payments['effective_when'])

In [20]:
length = len(payments)

In [21]:
timedelta = [payments['effective_when'][i+1]-payments['effective_when'][0+i] for i in range(0,len(payments)-1)]

In [22]:
timedelta.insert(0,0)

In [42]:
payments['timedelta'] = timedelta

AttributeError: 'list' object has no attribute 'total_seconds'

In [26]:
payments.tail()

,id,effective_when,account_id,currency,amount,timedelta
9438,9439,2020-02-01 14:49:58.571392,772,KES,173,-9 days +08:37:19
9437,9438,2020-02-09 03:10:17.571392,772,KES,188,-5 days +11:28:45
9436,9437,2020-02-16 23:06:47.571392,772,KES,170,-10 days +21:59:22
9435,9436,2020-02-29 13:06:35.571392,772,KES,195,-6 days +22:44:11
9434,9435,2020-03-08 12:07:30.571392,772,KES,650,-7 days +01:08:09