Avg time between payments

In [17]:
import pandas as pd
from datetime import datetime

In [26]:
payments = pd.read_csv('../Resources/payments.csv')

In [27]:
payments.head()

   id              effective_when  account_id currency  amount
0   1  2019-12-26 06:00:42.571392           1      KES     950
1   2  2019-12-26 06:00:42.571392           1      KES     950
2   3  2019-11-06 05:49:39.571392           2      KES     950
3   4  2019-11-06 05:49:39.571392           2      KES     950
4   5  2019-11-11 06:43:34.571392           2      KES     415

In [28]:
# Sort and convert to datetime
payments = payments.sort_values(['account_id','effective_when'])
payments['effective_when'] = pd.to_datetime(payments['effective_when'])

In [29]:
# Calculate time in between payments
timedelta = [payments['effective_when'][i+1]-payments['effective_when'][0+i] for i in range(0,len(payments)-1)]

In [30]:
# Insert None for first row
timedelta.insert(0,None)

In [31]:
# Add calculated column
payments['timedelta'] = timedelta

In [33]:
# Convert to seconds
payments['timedelta'] = payments['timedelta'].dt.total_seconds()

In [ ]:
# Group by id and find average mean of time between payments
g = payments.groupby('account_id',as_index=False)['timedelta'].mean()

In [ ]:
# Convert back to days by dividing seconds by 86,400 (60*60*24 - minutes,hours,days)