Try timestamp input with time HH:MM:SS

! timedelta(days=1) = timedelta(hours=24) -> doesn't change at midnight/partial days

Would do with more time:
Would fix input to find date even if input doesn't match format

In [1]:
import pandas as pd
from datetime import timedelta, datetime

In [2]:
# Read in data
# products = pd.read_csv("../Resources/products.csv")
# accounts = pd.read_csv("../Resources/accounts.csv")
ast = pd.read_csv("../Resources/account_state_transitions.csv")
# gpa = pd.read_csv("../Resources/group_product_associations.csv")
# groups = pd.read_csv("../Resources/groups.csv")
# payments = pd.read_csv("../Resources/payments.csv")

In [3]:
ast.head()

,id,created_when,started_when,account_id,from_state,to_state,previous_state_transition_id
0,3,2020-03-12 20:03:35.724574,2019-11-06 05:49:39.571392,2,CREATED,ENABLED,NaN
1,4,2020-03-12 20:03:35.724574,2019-11-25 22:20:59.150339,2,ENABLED,DISABLED,3.0
2,5,2020-03-12 20:03:36.042456,2019-11-26 10:22:36.571392,2,DISABLED,ENABLED,4.0
3,6,2020-03-12 20:03:36.042456,2019-11-29 11:03:32.150339,2,ENABLED,DISABLED,5.0
4,7,2020-03-12 20:03:36.098448,2019-12-03 10:08:03.571392,2,DISABLED,ENABLED,6.0

In [4]:
# all_unique_accounts = ast.account_id.unique() # len 772-44=728

## 2) Devise a method of generating a table of all Accounts with their State as of any arbitrary timestamp in the past and the total time they had been in that state as of the timestamp.

### Limit Dataframe by Indicated Timestamp

In [5]:
# for all ACCOUNT_ID, return TO_STATE where STARTED_WHEN = TIMESTAMP OR nearest_preceding_date
# if ACCOUNT_ID doesn't have corresponding TIMESTAMP select earliest preceding date with record (preceding_date)
# select TO_STATE of PRECEDING_DATE and calculate time difference: TIMESTAMP-PRECEDING_DATE

In [6]:
# Variable to take timestamp input.
timestamp_str = input("Enter date with YYYY-MM-DD format.")

Enter date with YYYY-MM-DD format.2020-03-01

In [7]:
# Convert variable from string to datetime object
timestamp_dt = pd.to_datetime(timestamp_str)

In [8]:
# Change data type from string to datetime object
ast['started_when'] = pd.to_datetime(ast['started_when'])

In [9]:
# Create limited dataframe based on indicated timestamp 
df = ast.loc[ast['started_when'] <= (timestamp_dt + timedelta(hours=23,minutes=59,seconds=59))]
df.head()

,id,created_when,started_when,account_id,from_state,to_state,previous_state_transition_id
0,3,2020-03-12 20:03:35.724574,2019-11-06 05:49:39.571392,2,CREATED,ENABLED,NaN
1,4,2020-03-12 20:03:35.724574,2019-11-25 22:20:59.150339,2,ENABLED,DISABLED,3.0
2,5,2020-03-12 20:03:36.042456,2019-11-26 10:22:36.571392,2,DISABLED,ENABLED,4.0
3,6,2020-03-12 20:03:36.042456,2019-11-29 11:03:32.150339,2,ENABLED,DISABLED,5.0
4,7,2020-03-12 20:03:36.098448,2019-12-03 10:08:03.571392,2,DISABLED,ENABLED,6.0

In [17]:
# Select max date for each unique account_id
df_grouped = df.groupby('account_id',as_index=False)['started_when'].max()
df_grouped.head(10)

   account_id               started_when
0           1 2020-01-17 13:01:20.571392
1           2 2020-02-24 02:00:21.571392
2           3 2020-02-21 11:40:47.887181
3           4 2020-02-25 04:28:59.571392
4           5 2020-02-29 20:42:56.571392
5           6 2020-02-20 18:54:47.571392
6           7 2020-02-27 21:56:59.571392
7           8 2020-02-27 05:59:01.834550
8           9 2020-02-28 09:49:07.360866
9          10 2020-02-21 15:48:49.571392

In [28]:
filtered_df = df.loc[df.groupby('account_id')['started_when'].idxmax()]
filtered_df = filtered_df[['started_when','account_id','to_state']]
filtered_df

                    started_when  account_id  to_state
11863 2020-01-17 13:01:20.571392           1  DISABLED
28    2020-02-24 02:00:21.571392           2  UNLOCKED
48    2020-02-21 11:40:47.887181           3  DISABLED
67    2020-02-25 04:28:59.571392           4  UNLOCKED
85    2020-02-29 20:42:56.571392           5  DISABLED
126   2020-02-20 18:54:47.571392           6  UNLOCKED
12334 2020-02-27 21:56:59.571392           7   ENABLED
13080 2020-02-27 05:59:01.834550           8  DISABLED
162   2020-02-28 09:49:07.360866           9  DISABLED
176   2020-02-21 15:48:49.571392          10  UNLOCKED
217   2020-02-22 10:21:48.571392          11  UNLOCKED
257   2020-02-25 23:20:56.971392          12  DISABLED
12933 2020-02-27 03:50:03.571392          13  DISABLED
321   2020-02-29 01:21:59.571392          14  UNLOCKED
327   2019-11-01 08:28:57.571392          15  DISABLED
395   2020-02-25 10:20:54.971392          16  DISABLED
12513 2020-02-28 22:25:53.571392          17  DISABLED
436   2020-02-25 02:09:11.771392          18  DISABLED
12264 2020-02-29 06:29:09.771392          19  DISABLED
473   2020-02-28 09:38:33.171392          20  DISABLED
538   2020-02-26 01:58:07.571392          21  UNLOCKED
596   2020-02-26 09:03:58.771392          22  DISABLED
607   2020-01-08 10:43:17.571392          23  DISABLED
14457 2020-02-25 11:48:30.571392          24  DISABLED
649   2020-02-26 23:03:51.571392          25  DISABLED
687   2020-02-29 23:20:06.571392          26  DISABLED
764   2020-02-19 00:56:36.571392          27  UNLOCKED
12849 2020-02-23 18:47:23.571392          28  DISABLED
829   2020-02-26 23:38:22.571392          29  UNLOCKED
837   2019-10-09 02:52:07.571392          30  DISABLED
...                          ...         ...       ...
13253 2020-02-19 19:33:48.571392         742   ENABLED
11363 2020-02-29 16:10:13.571392         743   ENABLED
11367 2020-02-20 22:07:30.571392         745   ENABLED
11369 2020-02-29 09:23:18.571392         746   ENABLED
11372 2020-02-21 02:10:53.571392         747  UNLOCKED
11373 2020-02-18 10:28:26.571392         748   ENABLED
14241 2020-02-29 22:32:40.571392         749  DISABLED
11376 2020-02-29 13:48:44.571392         750  DISABLED
12524 2020-02-21 18:07:22.571392         751  DISABLED
11394 2020-03-01 09:13:51.571392         752  DISABLED
11414 2020-02-25 08:14:12.771392         753  DISABLED
13767 2020-02-27 13:43:06.571392         754  DISABLED
11420 2020-03-01 07:12:13.571392         755  UNLOCKED
11439 2020-02-27 14:42:27.571392         756  UNLOCKED
11440 2020-02-25 22:23:38.571392         757   ENABLED
11856 2020-02-24 13:46:32.971392         758  DISABLED
11456 2020-02-23 23:24:05.571392         759  UNLOCKED
13412 2020-02-14 09:23:49.371392         760  DISABLED
11464 2020-02-27 08:45:04.571392         761  DISABLED
11512 2020-02-24 20:08:23.725238         762  DISABLED
11534 2020-02-29 10:16:34.494469         763  DISABLED
11559 2020-03-01 05:29:18.571392         764   ENABLED
11598 2020-02-29 06:22:49.263700         765  DISABLED
11626 2020-02-16 18:26:52.109854         766  DISABLED
11670 2020-02-29 07:02:58.109854         767  DISABLED
11688 2020-02-28 13:35:48.571392         768   ENABLED
14113 2020-02-27 01:07:30.648315         769  DISABLED
11712 2020-03-01 16:20:10.571392         770   ENABLED
11742 2020-03-01 20:07:25.571392         771  UNLOCKED
11775 2020-02-29 13:06:35.571392         772   ENABLED

[728 rows x 3 columns]

In [11]:
df_grouped.shape
## Need to grab STATE

# for:
#     try:
#     except KeyError:
#         continue

(728, 2)

### Current State of Each Account by Indicated Timestamp

In [ ]:
# Create dataframe to show current state of each account based on indicated timestamp
df_limited2 = df_limited[['started_when','account_id','to_state']]

# Sort by account_id
df_limited2 = df_limited2.sort_values('account_id')

# Reset index
df_limited2 = df_limited2.reset_index(drop=True)
df_limited2.head()

In [ ]:
# Show in dataframe, any accounts occuring more than once during indicated timestamp

account_ids = []
df_repeat = pd.DataFrame(columns=['started_when', 'account_id', 'to_state'])

for i in range(0,len(df_limited2['account_id'])):
    account_id = df_limited2['account_id'][i]
    if account_id in account_ids:
        df_temp = df_limited2.loc[df_limited2['account_id'] == account_id]
        df_repeat = df_repeat.append(df_temp)
    else:
        account_ids.append(account_id)

df_repeat

### Total Time in State as of Indicated Timestamp

In [ ]:
# if total time = start to timestamp:
# for each account id, select state = current state for all records <= timestamp