In [69]:
import pandas as pd

In [70]:
# Read in data
payments = pd.read_csv("../Resources/payments.csv")

## 3) Devise a method of generating a table of all Accounts with their cumulative payments to date as of any arbitrary timestamp in the past.

In [ ]:
# Preview dataframe
payments.head()

In [ ]:
# Check for unique currencies
payments.currency.unique()

In [71]:
# Set currency
currency = payments.currency[0]

In [72]:
# Variable to take timestamp input.
timestamp_str = input("Enter date with YYYY-MM-DD format.")

Enter date with YYYY-MM-DD format.2020-01-01

In [73]:
# Convert variable from string to datetime object
timestamp_dt = pd.to_datetime(timestamp_str)
print(timestamp_dt)
print(type(timestamp_dt))

In [ ]:
# Check data type of date in 'effective_when'
type(payments['effective_when'][0])

In [74]:
# Change data type from string to datetime object
payments['effective_when'] = pd.to_datetime(payments['effective_when'])

In [ ]:
# Check data type of date in 'effective_when'
type(payments['effective_when'][0])

In [75]:
# Create limited dataframe starting at indicated timestamp 
payments_date_limited = payments.loc[payments['effective_when'] >= timestamp_dt]
payments_date_limited.head()

    id             effective_when  account_id currency  amount
12  13 2020-01-05 09:25:19.571392           2      KES     368
13  14 2020-01-12 11:43:07.571392           2      KES     380
14  15 2020-01-19 14:23:11.571392           2      KES     422
15  16 2020-01-27 02:37:47.571392           2      KES     388
16  17 2020-02-03 20:07:42.571392           2      KES     422

In [78]:
# Group by account_id and perform aggregate functions
cumulative_payments = payments_date_limited.groupby('account_id', as_index=False).agg({'id':'count','amount':'sum'})

# Rename columns
cumulative_payments = cumulative_payments.rename(columns={
    'id':'total_num_payments',
    'amount':f'total_sum_payments_{currency}'})

# Preview dataframe
print(f"CUMULATIVE PAYMENTS BY ACCOUNT SINCE: {timestamp_str[:10]}")
cumulative_payments.head()

CUMULATIVE PAYMENTS BY ACCOUNT SINCE: 2020-01-01

   account_id  total_num_payments  total_sum_payments_KES
0           2                   8                    3102
1           3                   7                    3213
2           4                   8                    4599
3           5                   5                    2386
4           6                   8                    2360

In [79]:
# Export as csv file
cumulative_payments.to_csv(f"../Output/cumulative_payments_by_account_since_{timestamp_str[:10]}.csv", index=False)